@use "../base//variables.scss" as *;

.user-activities-section {
  padding: 0 $main-padding;
}

.user-activities {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  &__card {
    background-color: $color-surface;
    padding: $main-padding;
    border-radius: 1rem;
    box-shadow: 0 2px 6px rgba($color-text, 0.05);
    transition: all 0.2s ease;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    margin: 0;
    color: $color-text;
    font-size: $font-size-md;
  }

  &__schedule {
    display: flex;
    align-items: center;
    font-size: calc($font-size-xs * 0.9);
    color: rgba($color-text, 0.4);
    font-size: $font-size-sm;
  }

  &__day {
    font-weight: 500;
    font-size: $font-size-sm;
  }

  &__time {
    font-weight: 500;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-surface;
    border-radius: 8px;
    padding: calc($main-padding * 0.7);
    text-align: center;
    margin: $main-padding;

    &-message {
      color: $color-text;
      font-size: $font-size-xs;
      margin: 0;
    }
  }
}
