@use "../base/variables.scss" as *;

.both-layout {
  padding-top: 100px;
  padding-bottom: 75px;
  overflow-y: auto;
  background-color: $color-primary;
  min-height: 100dvh;
}

.dock-layout {
  padding-bottom: 80px;
  overflow-y: auto;
  background-color: $color-primary;
  min-height: 100dvh;
}
