$color-surface: #eaeaea;
$color-primary: #5e2e53;
$color-accent: #e1a1e9;
$color-text: #000000;

$font-size-sm: 1.8rem; // 18px
$font-size-md: 2.4rem; // 24px
$font-size-lg: 3.6rem; // 36px
$font-size-xl: 4.8rem; // 48px
